.home {
  //background-color: var(--secondary-bg-color);
  margin: 3rem 5% 0;
  font-size: 2rem;

  &__intro {
    background-color: var(--dark-bg-color);
    position: relative;
    text-align: center;
    padding: 2rem;
    padding-top: 4rem;
    font-size: 3rem;
    width: 100%;
    flex: 0 0 260px;
  }

  &__ranking {
    text-align: center;
    //background-color: var(--dark-bg-color);
    //padding: 1rem 1rem 0;
    //margin: 0.7rem;
    font-size: 3rem;
    position: relative;
  }

  &__into-paragraph {
    margin: 2rem;
    font-size: 1.8rem;
  }

  &__demo {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 500%;
  }
}
