.home {
  //background-color: var(--secondary-bg-color);
  margin: 3rem 5% 0;

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  font-size: 2rem;

  &__intro {
    //background-color: var(--dark-bg-color);

    text-align: center;
    justify-content: center;

    margin: 0.7rem;
    padding: 1rem;
    font-size: 3rem;

    width: 60%;
  }

  &__ranking {
    text-align: center;
    //background-color: var(--dark-bg-color);
    //padding: 1rem 1rem 0;
    //margin: 0.7rem;

    width: 40%;
    font-size: 3rem;
    position: relative;
  }

  &__into-paragraph {
    margin: 2rem;
    font-size: 1.8rem;
  }
}
