.home {
  &__intro {
    position: relative;
    flex: 0 0 300px;
    overflow: hidden;
    border: 2px solid var(--primary-border-color);
    margin-top: 2rem;
  }

  &__content {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    position: absolute;
    text-align: center;
    padding: 2rem;
    padding-top: 6rem;
    font-size: 3rem;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &__ranking {
    text-align: center;
    //background-color: var(--dark-bg-color);
    //padding: 1rem 1rem 0;
    //margin: 0.7rem;
    padding-top: 6rem;
    font-size: 3rem;
    position: relative;
  }

  &__into-paragraph {
    margin: 2rem;
    font-size: 1.8rem;
  }

  &__demo {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    opacity: 0.5;
  }
}
