.message {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  background-color: var(--secondary-bg-color);
  white-space: pre-wrap;

  &__user {
    display: flex;
    flex-direction: column;
    flex: 0 0 12rem;
    text-align: center;
  }

  &__username {
    font-size: 1.6rem;
  }

  &__avatar {
    margin: 0 auto;
  }

  &__datetime {
    display: flex;
    flex-direction: column;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__text {
    display: flex;
    flex: 1;
    font-size: 1.2rem;
  }

  &__actions {
    display: flex;
  }

  &__reactions {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
  }

  &__buttons {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: flex-end;
  }

  &__button {
    margin-left: 1rem;
    padding: 0 0.8rem;
    font-size: 1.2rem;
    line-height: 2.6rem;
    border: 1px solid var(--default-border-color);
    border-radius: var(--base-radius);

    &:hover {
      cursor: pointer;
      background-color: var(--primary-bg-hover-color);
      color: var(--primary-color);
    }
  }
}

.modal {
  &__header {
    text-align: center;
  }

  &__editor {
    min-height: 20rem;
    min-width: 60rem;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
