.contact {
  margin-top: 3rem;

  width: 480px;

  &__message-form {
    font-family: 'Arial', cursive;
    margin: 0;
    width: 100%;
    resize: none;
    padding: 0.4rem 1.2rem;

    height: 10rem;
    line-height: 1.6rem;
  }
}
