.input {
  display: flex;
  flex-direction: column;

  &-label {
    font-size: 1.2rem;
    margin-top: 1.2rem;
    margin-bottom: .4rem;
  }

  input {
    height: 3.2rem;
    background: var(--defoult-bg-color);
    border: 1px solid var(--defoult-border-color);
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 14px;
    line-height: 12px;
    outline: none;
    padding: 0 12px;
    color: inherit;

    &:focus {
      box-shadow: 0 0 0 1px var(--focus-border-color);
    }
  }

  &-text_focus {
    box-shadow: 0 0 0 1px var(--focus-border-color);
  }

  &-error {
    font-size: 1rem;
    color: var(--error-color);
    margin-top: .8rem;
  }

}
