.input {
  display: flex;
  flex-direction: column;

  &__title {
    font-size: 1.2rem;
    margin-top: 1.2rem;
    margin-bottom: 0.8rem;
  }

  &__control {
    height: 3.2rem;
    background: var(--default-bg-color);
    border: 1px solid var(--default-border-color);
    box-sizing: border-box;
    border-radius: var(--base-radius);
    font-size: 1.4rem;
    line-height: 1.2rem;
    outline: none;
    padding: 0 1.2rem;
    color: inherit;

    &:focus {
      //box-shadow: 0 0 0 1px var(--focus-border-color);
      border: 1px solid var(--focus-border-color);
    }
  }

  &__error {
    font-size: 1rem;
    color: var(--error-color);
    margin-top: 0.8rem;
  }
}
