@import "../../css/var";

.button {
  border-radius: $base-radius;
  border: 1px solid transparent;
  padding: 12px;
  margin: 10px;
  cursor: pointer;

  &:focus {
    border-color: var(--focus-border-color);
  }

  &-primary {
    color: var(--primary-color);
    background-color: var(--primary-bg-color);

    &:hover {
      background-color: var(--primary-bg-hover-color);
    }
  }

  &-secondary {
    color: var(--secondary-color);
    background-color: var(--secondary-bg-color);

    &:hover {
      background-color: var(--secondary-bg-hover-color);
    }
  }

  &-large {
    width: 100%;
    max-width: 300px;
  }
}
