.message-editor {
  background-color: var(--secondary-bg-color);
  display: flex;
  justify-content: center;

  &__input {
    display: flex;
    flex: 1;
    font-size: 1.2rem;
  }

  &__button {
    background-color: var(--secondary-bg-color);
    border: none;
    color: var(--secondary-color);
    cursor: pointer;

    &:hover {
      color: var(--primary-bg-hover-color);
    }
  }

  &__button-wrapper {
    display: flex;
    flex: 0 0 2rem;
  }
}

