@import "typo";
@import "var";
@import "var-color";
@import "container";
@import "margin";

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-bg-color);
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.showFlex {
  display: flex;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: var(--defoult-bg-color);
  color: var(--defoult-color);
}

.main {
  width: 100%;
  height: 100%;
  background: var(--defoult-bg-color);
  color: var(--defoult-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: auto
}

.page {
  height: 100%;
  width: 100%;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

.link {
  color: inherit;
  font-size: 1.6rem;
}
