@import "var";

// .padding_s-[size],
// size = $step*N, N = [1..10]

.padding {
  @for $i from 1 through 10 {
    &_s-#{$i} {
      padding: 4 * $i;
    }
    &-tb_s-#{$i} {
      padding-top: 4 * $i;
      padding-bottom: 4 * $i;
    }
  }
}
