:root {

  --defoult-bg-color: #363636;
  --defoult-color: #CBCBCB;
  --defoult-border-color: #505050;

  --primary-bg-color: #5B8A20;
  --primary-color: #fff;

  --secondary-bg-color: #404040;
  --secondary-color: #83D21F;

  --success-bg-color: #147C4A;
  --success-color: #fff;

  --error-color: #FF6C6C;

  --ghost-bg-color: transparent;
  --ghost-color: #CBCBCB;

  --successInvert-bg-color: transparent;
  --successInvert-color: #8cf38c;

  --dark-bg-color: #202020;

  --focus-border-color: #ffffff;
}
