:root {
  //default
  --default-bg-color: #363636;
  --default-bg-hover-color: lighten(#363636, 10%);
  --default-color: #cbcbcb;
  --default-border-color: #505050;
  //primary
  --primary-bg-color: #5b8a20;
  --primary-bg-hover-color: lighten(#5b8a20, 10%);
  --primary-color: #fff;
  //secondary
  --secondary-bg-color: #404040;
  --secondary-bg-hover-color: lighten(#404040, 10%);
  --secondary-color: #83d21f;
  //success
  --success-bg-color: #147c4a;
  --success-bg-hover-color: lighten(#147c4a, 10%);
  --success-color: #fff;
  //error
  --error-color: #ff6c6c;
  //ghost
  --ghost-bg-color: transparent;
  --ghost-bg-hover-color: rgba(255, 255, 255, 0.1);
  --ghost-color: #cbcbcb;
  //successInvert
  --successInvert-bg-color: transparent;
  --successInvert-bg-hover-color: rgba(255, 255, 255, 0.1);
  --successInvert-color: #8cf38c;
  //dark
  --dark-bg-color: #202020;
  //focus
  --focus-border-color: #fff;
}
