.header {
  background-color: var(--dark-bg-color);

  &__inner {
    width: 100%;
    height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 26px;
  }

  &__logo {
    color: var(--default-color);
    text-decoration: none;
    transition: color 0.2s;

    &:hover {
      color: var(--primary-color);
    }
  }

  &__menu-list {
    font-size: 20px;
    list-style: none;
    display: flex;
  }

  &__menu-list-item + &__menu-list-item {
    margin-left: 20px;
  }

  &__menu-list-link {
    text-decoration: none;
    color: var(--default-color);
    transition: color 0.2s;

    &:hover {
      color: var(--primary-bg-color);
    }
  }

  &__user-nav {
    font-size: 20px;
  }

  &__user-nav-link {
    color: var(--default-color);
    text-decoration: none;
    border: 1px solid var(--primary-bg-color);
    border-radius: 4px;
    padding: 5px 10px;
    transition: color 0.2s;

    &:hover {
      color: var(--primary-color);
      border-color: var(--primary-bg-hover-color);
    }
  }

  &__user-nav-link + &__user-nav-link {
    margin-left: 20px;
    background-color: var(--primary-bg-color);
  }
}
