.text-area {
  background-color: inherit;
  font-family: inherit;
  border: 0;
  color: var(--primary-color);
  resize: none;

  &_resizable {
    resize: both;
  }

  &:focus {
    outline: none;
  }
}
